<%- include('./partials/header.ejs'); %>

    <div id="chat-container">
      <div id="search-container">
        <input type="text" placeholder="Search" />
      </div>
      <div id="conversation-list">
        <div class="conversation active">
          <img src="./images/user1.png" alt="Kishor" />
          <div class="title-text">Kishor Paroi</div>
          <di class="created-date"> November 29 </di>
          <div class="conversation-message">Hello Pallabi</div>
        </div>
        <div class="conversation">
          <img src="./images/user2.png" alt="Pallabi" />
          <div class="title-text">Pallabi Karmaker</div>
          <di class="created-date"> November 29 </di>
          <div class="conversation-message">Hello Kishor, how are you?</div>
        </div>
      </div>
      <div id="new-message-container">
        <a href="#">+</a>
      </div>
      <div id="chat-title">
        <span>Kishor</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>
      <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="Kishor" />
            <div class="message-text">I am Fine</div>
            <div class="message-time">November 29</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">Hello Kishor, how are you?</div>
            <div class="message-time">November 29</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <img src="./images/attachment.png" alt="Add Attachment" />
        <input type="text" placeholder="Type a message" />
      </div>
    </div>

    
  </body>
</html>